.App {
    text-align: center;
    border-bottom: 1px solid #333;
}

.App-header {
      background-color: #222;
      height: 75px;
      padding: 20px;
      color: white;
}

.App-title {
    font-size: 4em;
    color: #ebebeb;
}

.mainDisplay{
    width: 90%;
    margin: auto;
    background-color: #222;
}

.routerFlexContainer{
    display: flex;
    justify-content: space-around;
    min-height: 70vh;
    width: 90%;
    text-align: center;
    margin: auto;
}

.flexChild{
    width: 20%;
    float: left;
    border: 1px solid #404040;
    border-radius: 7px 3px 7px 3px;
    padding: 10px 10px 10px 10px;
    margin: 10px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0) 50%,#404040 50%,#404040 100%);
}

.flexChild:hover{
    border-color: #edec51;
}

.flexItem{
    color: #edec51;
    font-weight: 200;
}

.flexItemDetail{
    width: 100%;
    float: left;
    text-align: left;
    color: #edec51;
    margin-top: 20px;
    font-weight: 500;
}

.pageTitle{
    color: #ebebeb;
    font-size: 2em;
    float: left;
    width: 100%;
    text-align: left;
}