<<<<<<< HEAD
=======
.App {
  text-align: center;
	border-bottom: 1px solid #333;
}

.App-header {
  background-color: #222;
  height: 75px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 4em;
	color: #ebebeb;
}

.mainDisplay{
    width: 90%;
    margin: auto;
		background-color: #222;
}

.routerFlexContainer{
    display: flex;
    justify-content: space-around;
		min-height: 70vh;
		width: 90%;
		text-align: center;
		margin: auto;
}

.navSelected{
	font-weight: 600;
}
>>>>>>> 166b9ca4f23f8b6529f67bd3a068e70cd3809ab2
