body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #000 url('./assets/img/bg_starfield_01.png') no-repeat;
	color: #bababa;
}

a{
	color: #edec51;
	text-decoration: none;
}

li{
    list-style: none;
}

img{
	width: 100%;
}
